
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#project-list" data-target="#{{id}}">
      {{name}}
    </a>
  </div>
  <div id="{{id}}" class="accordion-body collapse">
    <div class="accordion-inner">
      <a href="{{link}}">{{name}}</a>

    </div>
  </div>
</div>
